[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "nvm"]
	path = nvm
	url = https://github.com/nvm-sh/nvm
	ignore = dirty
[submodule "zsh/plugins/powerlevel10k"]
	path = zsh/plugins/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k
	ignore = dirty
